.cus-text-content{
  h1,h2{
    font-size: 1.25rem !important;
    padding: .25rem 0 .25rem 1.25rem !important;
    border-left: 3px solid #5961f9 !important;
    margin-bottom: .5rem !important;
  }
  .pdsx12{

  }
  .ql-size-large,p{
    font-size: 1rem;
    line-height: 2;
    word-wrap: break-word;
    margin-bottom: 1.25rem;
  }
  ol,ul{
    padding-left: 2rem;
  }
  li{
    font-size: 1rem;
    margin: .5rem 0;
  }
  li::before {
    content: "•";
    color: black;
    margin-right: 5px;
    font-size: 1rem;
  }
  img{
    width: 70%;
    margin-bottom: 20px;
  }
  #accordion{
    .card-header{
      padding: 6px 0;
      font-size: 1.1rem;
    }
    .text-sm{
      font-size: 1rem;
    }
  }
}